input,
select {
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  margin-top: 1.2rem;
  /* min-width: 100px; */
}
select {
  background-color: #f0f2f2;
}

label {
  color: #00215a;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}

/* SUBMIT BTN */
.submit-btn-container button {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
}

.submit-btn-container button:hover {
  z-index: 8;
  transform: scale(1.05);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.26);
}

.submit-btn-container button:active {
  transform: scale(1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.521);
}

.submit-btn-container button:after,
.submit-btn-container button:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 0.4s;
}

.submit-btn-container button:after {
  top: 2px;
  left: 2px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.submit-btn-container button:before {
  bottom: 2px;
  right: 2px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.submit-btn-container button:hover:before,
.submit-btn-container button:hover:after {
  width: 95%;
  height: 89%;
}
.submit-btn-container button:hover,
.clear-btn-container button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.submit-btn-container button:focus {
  outline: none;
}

/* ------------ */

/* CLEAR BTN */

.clear-btn-container {
  padding: 0px 20px;
}

.clear-btn-container button,
.submit-btn-container button {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
  padding: 8px 16px;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-size: 300% 100%;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.521);
}

.clear-btn-container button {
  background-image: linear-gradient(
    to right,
    #ff4f4f,
    #ff2727,
    #ff8282,
    #ff1111
  );
}

.clear-btn-container button:hover {
  z-index: 8;
  transform: scale(1.05);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.432);
}

.clear-btn-container button:active {
  transform: scale(1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.63);
}

.clear-btn-container button:after,
.clear-btn-container button:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff83;
  transition: all 0.4s;
  z-index: 2;
}

.clear-btn-container button:after {
  transform: translate(-50%, -50%) rotate(22.5deg);
}

.clear-btn-container button:before {
  transform: translate(-50%, -50%) rotate(-22.5deg);
}

.clear-btn-container button:hover:after,
.clear-btn-container button:hover:before {
  width: 108%;
  z-index: -1;
}
/* --------------------------------------- */

.checkbox:hover,
select:hover,
button:hover {
  cursor: pointer;
}
.quote-container {
  min-height: 100vh;
  padding-top: 60px;
}

.quote-request-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.quote-request-form input,
.pickup-info-textarea,
.shipping-info-textarea {
  width: 100%;
  margin-top: 0.8rem;
  border: 1px solid grey;
}
::placeholder {
  font-size: clamp(10px, 1vw, 12px);
  padding: 4px;
}

.info-wrapper-outer {
  display: grid;
  column-gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-column: span 2;
}

.info-wrapper {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2rem;
  margin-top: 0.8rem;
}

.shipping-info {
  width: 100%;
}

.pickup-info {
  width: 100%;
}

.company-wrapper {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2rem;
}

.company-info-a {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.company-info-b {
  display: flex;
  flex-direction: column;
}

.skids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2rem;
  grid-column: span 2;
}

.num-skids-container,
.number-pieces-container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.number-pieces,
.number-skids {
  /* width: 95% !important;
  margin-top: 0 !important; */
}

.hs-codes {
  /* width: 95% !important;
  margin-top: 0.5rem !important; */
}

.shipment-service-type {
  /* width: 95% !important;
  margin-top: 0.5rem !important; */
}

.shipment-cont {
  grid-column: 2;
}
.shipment-cont-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.2rem;
}

.spacer {
  grid-column: span 2;
  padding-top: 0px;
}

.cell1,
.cell2,
.cell3 {
  /* margin-top: 1.2rem !important;
  width: 95% !important; */
}

.checkbox-label {
  font-size: clamp(10px, 1.8vw, 12px);
}

.skid-dimensions {
  grid-column: 2;
}

.dimensions-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.2rem;
}

.dimension-wrapper {
  /* width: 95% !important; */
}

.additional-info {
  grid-column: span 2;
  margin-top: 1.2rem;
}
.additional-info textarea {
  width: 100%;
}

/* error messages */

.quote-error--name,
.quote-error--email,
.quote-error--companyName,
.quote-error--phone,
.quote-error--pickupInfo,
.quote-error--shippingInfo,
.quote-error--numSkids-max,
.quote-error--numSkids-invalid,
.quote-error--numSkids-empty,
.error-service-msg,
.error-hsCode-msg,
.error-service-msg-1,
.error-service-msg-2,
.error-skid-type,
.error-weight-empty,
.error-weight-invalid,
.error-unit,
.error-option,
.error-dimension {
  color: red;
  margin-top: 0.4rem;
  font-size: 12px;
  display: none;
}

.quote-error--name.active,
.quote-error--email.active,
.quote-error--companyName.active,
.quote-error--phone.active,
.quote-error--pickupInfo.active,
.quote-error--shippingInfo.active,
.quote-error--numSkids-max.active,
.quote-error--numSkids-invalid.active,
.quote-error--numSkids-empty.active,
.error-service-msg.active,
.error-hsCode-msg.active,
.error-service-msg-1.active,
.error-service-msg-2.active,
.error-skid-type.active,
.error-skid-type.active,
.error-weight-empty.active,
.error-weight-invalid.active,
.error-unit.active,
.error-option.active,
.error-dimension.active {
  display: block;
}

.shipment-details {
  column-gap: 1.2rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  grid-column: span 2;
}

.shipment-details-label {
  padding-top: 1.2rem;
}

.shipment-details-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.2rem;
}

.shipment-details-outer-wrapper {
  display: grid;
  grid-column: span 2;
  padding-top: 2.4rem;
}

.skid-type-and-dims {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  column-gap: 20px;
}

.skid-type-wrapper input {
  /* width: 96%; */
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  padding-left: 1.2rem;
}

.checkbox {
  margin-top: 0 !important;
  width: 10px !important;
}

.form-end {
  grid-column: span 2;
}

.btns-container {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2rem;
}

.submit-btn-container {
  width: 100%;
}
.clear-btn-container {
  width: 100%;
}

@media screen and (max-width: 422px) {
  .container {
    padding: 50px 10px 20px 0px;
  }
  .checkbox-container label {
    padding-left: 0;
  }

  .checkbox-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    place-items: center left;
  }

  .shipment-details,
  .skids,
  .additional-info {
    width: 95vw;
  }

  .pickup-info-textarea {
    width: 102%;
  }
  .additional-info {
    padding: 12px 10px 0px 10px;
  }
  .additional-info textarea,
  .shipping-info-textarea {
    width: 103%;
  }

  .dimensions-container {
    column-gap: 0.4rem;
  }

  .info-wrapper-outer {
    width: 97vw;
    row-gap: 1;
    /* padding: 0px 10px 20px 10px; */
  }

  .company-info-a {
    grid-row: 1;
  }

  .company-info-b {
    grid-row: 2;
    width: 100%;
  }
  .company-wrapper {
    grid-template-columns: 1fr;
    padding: 0px 10px;
  }

  .info-wrapper {
    grid-template-rows: 1fr 1fr;
    width: 98%;
    padding: 0px 10px;
  }

  .pickup-info {
    grid-row: 1;
    grid-column: span 2;
  }

  .shipping-info {
    grid-row: 2;
    grid-column: span 2;
  }

  .shipment-details-outer-wrapper {
    padding: 12px 1px 12px 10px;
  }

  .submit-btn-container button {
    transform: scale(0.8);
  }
  .clear-btn-container button {
    transform: scale(0.8);
  }

  .g-recaptcha {
    padding: 10px;
  }
}
