.quote-container {
  min-height: 95vh;
}

.quote-request-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.quote-request-form input,
.pickup-info-textarea,
.shipping-info-textarea {
  width: 100%;
  margin-top: 1.2rem;
  border-radius: 0px;
  border: 1px solid grey;
}
::placeholder {
  font-size: clamp(10px, 1vw, 12px);
  padding: 4px;
}

.info-wrapper-outer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-column: span 2;
}

.info-wrapper {
  display: grid;
  grid-column: span 2;
  column-gap: 1.2rem;
}

.shipping-info {
  grid-column: 2;
}

.company-wrapper {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 1.2rem; */
}

.company-info-a {
  display: flex;
  flex-direction: column;
  width: 97%;
}
.company-info-b {
  display: flex;
  flex-direction: column;
  /* width: 49%; */
}

.num-skids-container,
.number-pieces-container
/* .service-type-container,
.hs-codes-container 
*/ {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.number-pieces,
.number-skids {
  width: 95% !important;
  margin-top: 0 !important;
}

.hs-codes {
  width: 95% !important;
  margin-top: 0.5rem !important;
}

.shipment-service-type {
  width: 95% !important;
  margin-top: 0.5rem !important;
}

.shipment-cont {
  grid-column: 2;
}
.shipment-cont-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.spacer {
  grid-column: span 2;
  padding-top: 0px;
}

.cell1,
.cell2,
.cell3 {
  margin-top: 1.2rem !important;
  width: 95% !important;
}

.checkbox-label {
  font-size: clamp(10px, 1.8vw, 12px);
}

.skid-dimensions {
  grid-column: 2;
}

.dimensions-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dimension-wrapper {
  width: 95% !important;
}

.dimensions-input {
}

.additional-info {
  grid-column: span 2;
  margin-top: 1.2rem;
}
.additional-info textarea {
  width: 100%;
}

/* error messages */

.quote-error--name,
.quote-error--email,
.quote-error--companyName,
.quote-error--phone,
.quote-error--pickupInfo,
.quote-error--shippingInfo,
.quote-error--numSkids-max,
.quote-error--numSkids-invalid,
.quote-error--numSkids-empty,
.error-service-msg,
.error-hsCode-msg,
.error-service-msg-1,
.error-service-msg-2,
.error-skid-type {
  color: red;
  margin-top: 0.2rem;
  font-size: 12px;
  display: none;
}

.quote-error--name.active,
.quote-error--email.active,
.quote-error--companyName.active,
.quote-error--phone.active,
.quote-error--pickupInfo.active,
.quote-error--shippingInfo.active,
.quote-error--numSkids-max.active,
.quote-error--numSkids-invalid.active,
.quote-error--numSkids-empty.active,
.error-service-msg.active,
.error-hsCode-msg.active,
.error-service-msg-1.active,
.error-service-msg-2.active,
.error-skid-type.active,
.error-skid-type.active {
  display: block;
}

.shipment-details {
  column-gap: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shipment-details-label {
  padding-top: 1.2rem;
}

.shipment-details-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 0.8rem;
}

.shipment-details-outer-wrapper {
  display: grid;
  grid-column: span 2;
}

.skid-type-and-dims {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  column-gap: 20px;
}

.skid-type-wrapper input {
  width: 97.5%;
}

.checkbox-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-items: center left;
}

.checkbox {
  margin-top: 0 !important;
}

@media screen and (max-width: 523px) {
  /* .checkbox-container {
    display: flex;
    flex-direction: column;
  } */

  .checkbox-label {
  }
}
/* @media screen and (max-width: 540px) {
  .skid-type-wrapper {
    width: 50%;
  }

  .skid-dimensions {
    width: 150%;
    margin-left: -100px;
  }

  .shipment-details {
    width: 50%;
  }

  .shipment-cont {
    margin-left: -100px;
  }

  .pickup-info {
    width: 50%;
  }

  .shipping-info {
    margin-left: -150px;
  }
} */
