/* NAV */

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.burger {
  display: none;
  padding: 10px;
  z-index: 99999;
}

.header-logo {
  padding: 20px;
}

.logo {
  z-index: 88;
}

.logo img {
  width: clamp(200px, 40vw, 300px);
  height: fit-content;
  padding: 20px 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: grey;
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
  text-transform: uppercase;
  z-index: 999999;
}

.nav-active {
  transform: translateX(0%);
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 30%;
  z-index: 8;
}

.nav-links a {
  /* padding: 10px; */
  color: rgba(255, 226, 226);
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: all 150ms ease;
  padding: 5px;
  font-size: clamp(10px, 12px, 1rem);
}

.nav-links a:hover {
  color: rgb(10, 6, 255);
}

.line1,
.line2,
.line3 {
  transition: all 150ms ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.contact-submenu,
.transportation-submenu {
  position: absolute;
  list-style: none;
  opacity: 0;
  background: black;
  padding: 10px 0px 10px 10px;
  pointer-events: none;
  z-index: 999;
}

.contact-submenu {
  padding: 10px;
}

.contact-link:hover + .contact-submenu,
.contact-submenu:hover {
  animation: fadeInSlideDown 0.5s ease forwards;
  pointer-events: all;
}

.transportation-link:hover + .transportation-submenu,
.transportation-submenu:hover {
  animation: fadeInSlideDown 0.5s ease forwards;
  pointer-events: all;
}

.transportation-submenu-wrapper {
  position: relative;
}

li.transportation-submenu-wrapper,
.transportation-submenu-a li {
  /* padding: 0px 0px 10px 0px; */
}

.transportation-submenu-a {
  list-style: none;
  position: absolute;
  right: -81%;
  top: -10px;
  background: black;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
}

.transportation-link:hover + .transportation-submenu-a,
.transportation-submenu-a:hover {
  animation: fadeInSlideLeft 0.5s ease forwards;
  pointer-events: all;
}

/* ANIMATIONS */
/* do some dropdown menu animations */
@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

@keyframes fadeInSlideLeft {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-5px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
    cursor: pointer;
  }

  html,
  body {
    position: relative;
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: grey;
    width: 35%;
    transform: translateX(100%);
    transition: all 500ms ease;
    justify-content: start;
    padding-left: 30px;
  }

  .nav-links.nav-active {
    right: 33%;
  }

  .nav__link {
    opacity: 0;
    margin-top: 70px;
    font-size: 10px;
  }

  .contact-submenu {
    padding: 10px 5px;
    width: 134%;
  }

  .contact-submenu,
  .transportation-submenu {
    opacity: 1;
    background-color: transparent;
    padding: 5px 0px;
  }

  .contact-submenu > li > a,
  .transportation-submenu > li > a {
    font-size: 8px;
    pointer-events: all;
  }

  .transportation-submenu > li:nth-child(even) {
    color: red;
    margin-top: 1rem;
  }

  .contact-submenu > li:nth-child(even) {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .nav-links.nav-active {
    width: 50%;
    right: 50%;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
