/* NAV */

.burger {
  margin-right: 40px;
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/* .header-logo {
  padding: 20px;
} */

.cgl-logo-nav {
  width: 25%;
  margin-left: 60px;
}

.logo {
  z-index: 88;
}

.logo img {
  width: clamp(200px, 40vw, 300px);
  height: fit-content;
  padding: 20px 10px;
}

nav {
  height: 12vh;
  padding: 10px;
  background-image: linear-gradient(
    to top,
    #8ed5aa38 0%,
    #c3e7d325 20%,
    #fff 60%
  );
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  position: sticky;
  z-index: 600;
}

.currentPage {
  color: black !important;
  font-family: "Roboto";
  text-shadow: 2px 2px 8px #7ebd96;
  position: relative;
}

nav::before {
  content: "";
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  height: 18px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    transparent
  );
}

.nav-menu-container {
  padding: 20px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 60px;
  font-size: clamp(1rem, 2vw, 1.446rem);
}

.nav-menu > li {
  padding: 0px 20px 10px 20px;
  color: black;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  position: relative;
  cursor: pointer;
}

.nav-menu a {
  color: #002c77;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-menu > li:hover::before {
  width: 80%;
  left: 12px;
}

.nav-menu > li:nth-child(1):hover::before {
  width: 75%;
}
.nav-menu > li:nth-child(2):hover::before {
  width: 80%;
  left: 12px;
}

.nav-menu > li:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #8ed5aa;
  bottom: 0;
  left: 20px;
  transition: width 0.3s;
}

.nav-menu > li:nth-child(3):hover::before {
  width: var(--underline-width, 137px);
}

.nav-menu > li:nth-child(4):hover::before {
  width: 92%;
  left: 12px;
}
.nav-menu > li:nth-child(5):hover::before {
  width: 120px;
  left: 20px;
}

.nav-menu > li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: var(--before-width, 0);
  height: 2px;
  background-color: #8ed5aa;
  transition: width 0.3s, left 0.3s;
}

.contact-submenu,
.services-submenu {
  list-style: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: grey;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
  background-color: #fff;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 0px 8px 8px 8px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.services-submenu {
  height: 52px !important;
  left: 20px;
}
.contact-submenu {
  width: 120px;
  height: 52px !important;
  left: 20px;
}

.contact-submenu > li > a {
  color: black;
  font-size: 10px;
}

.contact-link {
  cursor: pointer;
}

.contact-submenu > li,
.services-submenu > li {
  margin-top: 0.5rem;
  opacity: 0;
}

.nav-menu > li:hover > .contact-submenu > li,
.nav-menu > li:hover > .services-submenu > li {
  animation: fadeInSlideLeftSmall 250ms ease-in-out forwards;
}

.nav-menu > li:hover > .contact-submenu > li:nth-child(1),
.nav-menu > li:hover > .services-submenu > li:nth-child(1) {
  animation-delay: 80ms;
}

.nav-menu > li:hover > .contact-submenu > li:nth-child(2),
.nav-menu > li:hover > .services-submenu > li:nth-child(2) {
  animation-delay: 150ms;
}

.nav-menu > li:hover > .contact-submenu,
.nav-menu > li:hover > .services-submenu {
  animation: slideDownFadeIn 250ms ease-in-out forwards;
  animation-delay: 50ms;
  cursor: pointer;
  pointer-events: all;
}

.services-submenu.active {
  animation: slideDownFadeIn 250ms ease-in forwards;
  height: 125px !important;
  width: 80%;
}

.services-submenu > li.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
    height: 0px;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    height: 155%;
  }
}

@keyframes fadeInSlideLeftSmall {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideLeft {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-5px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
}

/* .line1,
.line2,
.line3 {
  transition: all 150ms ease;
} */

/* .toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
} */

.transportation-submenu {
  position: absolute;
  list-style: none;
  opacity: 0;
  left: 107%;
  top: -4px;
  background: #fff;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 4px 10px 10px 10px;
  pointer-events: none;
  z-index: 999;
}

.transportation-submenu > li {
  opacity: 0;
}

.transportation-link:hover + .transportation-submenu > li,
.transportation-submenu:hover > li {
  animation: fadeInSlideLeftSmall 250ms ease-in-out forwards;
}

.transportation-link:hover + .transportation-submenu > li:nth-child(2),
.transportation-submenu:hover > li:nth-child(2) {
  animation-delay: 150ms;
}
.transportation-link:hover + .transportation-submenu > li:nth-child(3),
.transportation-submenu:hover > li:nth-child(3) {
  animation-delay: 230ms;
}
.transportation-link:hover + .transportation-submenu > li:nth-child(4),
.transportation-submenu:hover > li:nth-child(4) {
  animation-delay: 310ms;
}
.transportation-link:hover + .transportation-submenu > li:nth-child(5),
.transportation-submenu:hover > li:nth-child(5) {
  animation-delay: 390ms;
}

/* Buffer for hover */

.transportation-submenu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.transportation-submenu > li > a {
  color: black;
  font-size: 10px;
}

.transportation-submenu-wrapper > a,
.sporting-link > a {
  font-size: 11px;
  color: black;
}

.transportation-submenu:hover {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.transportation-link:hover + .transportation-submenu,
.transportation-submenu:hover {
  animation: fadeInSlideDown 0.5s ease forwards;
  pointer-events: all;
}

.transportation-submenu-wrapper {
  position: relative;
}

.transportation-submenu-a {
  list-style: none;
  position: absolute;
  right: -81%;
  top: -10px;
  background: black;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
}

.transportation-link:hover + .transportation-submenu-a,
.transportation-submenu-a:hover {
  animation: fadeInSlideLeft 0.5s ease forwards;
  pointer-events: all;
}

/* ANIMATIONS */
/* do some dropdown menu animations */

/* MEDIA QUERIES  */

@media screen and (max-width: 1024px) {
  .nav-menu {
  }
}

@media screen and (max-width: 768px) {
  /* .burger {
    display: block;
    cursor: pointer;
  } */

  .nav-menu {
    position: absolute;
    flex-direction: column;
    background-color: #0046bef8;
    height: 100vh;
    margin-top: 51px;
    width: 200px;
    margin-left: -90px;
  }

  .nav-menu a {
    font-size: 14px;
  }

  .nav-menu > li {
    margin-bottom: 3.2rem;
    margin-left: 2.4rem;
  }

  .nav-menu > li:nth-child(1) {
    padding-top: 3.2rem;
  }

  .services-submenu > li > a {
    font-size: 12px;
  }

  .transportation-submenu {
    position: static;
  }

  .burger {
    display: block;
  }

  html,
  body {
    position: relative;
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: grey;
    width: 35%;
    transform: translateX(100%);
    transition: all 500ms ease;
    justify-content: start;
    padding-left: 30px;
  }

  .nav-links.nav-active {
    right: 35%;
  }

  .nav__link {
    opacity: 0;
    margin-top: 70px;
    font-size: 10px;
  }

  .contact-submenu {
    padding: 10px 5px;
    width: 134%;
  }

  .contact-submenu,
  .transportation-submenu {
    opacity: 1;
    background-color: transparent;
    padding: 5px 0px;
  }

  .contact-submenu > li > a,
  .transportation-submenu > li > a {
    font-size: 8px;
    pointer-events: all;
  }

  /* .transportation-submenu > li:nth-child(even) {
    color: red;
    margin-top: 1rem;
  } */

  .contact-submenu > li:nth-child(even) {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .nav-links.nav-active {
    width: 50%;
    right: 50%;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
