*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  /* background-color: black; */
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px;
}

h1 {
  font-size: clamp(1.8rem, 1.4vw, 3.6rem);
  padding-left: 1.2rem;
  font-family: "Roboto";
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1.6rem, 2.4vw, 3.2rem);
}

h3 {
  font-size: clamp(2rem, 2vw, 2.8rem);
}

p,
label,
a,
address {
  font-size: clamp(1.4rem, 1.4vw, 1.6rem);
  color: black;
}

.container-body {
  min-height: 70vh;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5)),
    url("/assets/ocean.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 40vw;
  min-height: 300px;
  padding-top: 25vw;
}

.hero-logo {
  max-width: 80vw;
}

/* ERRORS */

.error-captcha {
  opacity: 0;
  visibility: hidden;
  color: red;
  padding-top: 10px;
  transition: all 150ms ease;
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
}

.error-captcha.active {
  opacity: 1;
  visibility: visible;
}

/* footer */

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 2em 0;
}

.success-container {
  height: 70vh;
}

.container-outer {
  display: flex;
  height: 70vh;
  background-color: black;
  position: relative;
}

.hero-content {
  width: 60%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 90;
}

.hero-wrapper {
  max-height: calc(100vh - 12vh);
  overflow: hidden;
}

.cgl-logo {
  opacity: 0;
  width: 120%;
  object-fit: scale-down;
  min-width: 250px;
  max-width: 450px;
}

.cgl-logo.active {
  animation: fadeInSlideLeft 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.hero-inner {
  width: 70%;
  margin-left: 120px;
}
.hero-content h1 {
  color: white;
}
.hero-content p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.4rem, 1.4vw, 1.8rem);
  font-style: italic;
}

.btn-container {
  display: flex;
  justify-content: center;
  transform: scale(1.25);
  margin-top: 1.2rem;
}

.btn-container.btn-mobile {
  display: none;
  position: relative;
  z-index: 90;
}

/* Advanced CSS Hero Button */
.cta-btn {
  background: #3f86ed;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 3.2rem;
  padding: 10px 20px;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}

.cta-btn:after,
.cta-btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 0.4s;
}
.cta-btn:after {
  top: 2px;
  left: 2px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.cta-btn:before {
  bottom: 2px;
  right: 2px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.cta-btn:hover:before,
.cta-btn:hover:after {
  width: 97%;
  height: 90%;
}
.cta-btn:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.cta-btn:focus {
  outline: none;
}

.cta-btn.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.cta-btn:active {
  box-shadow: 0px 0px 15px 0px #8fd6ab81;
  transform: scale(1);
}

/* ------------------------------ */

div.globe-container {
  width: 50%;
}

#canvasContainer {
  width: 50%;
  z-index: 50;
}

.hero-slogan {
  font-family: "Open Sans";
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;
  color: #fff;
  letter-spacing: 0.5px;
}

.home-content-outer {
  background-color: black;
  color: white;
}

.home-content-inner {
  padding-top: 2rem;
}

.bg {
  background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: translateX(-50%) rotate(45deg);
  animation: fade_move_down 2s ease-in-out infinite;
  z-index: 999;
}

.globe-tooltip {
  display: none;
  background-color: rgba(0, 0, 0, 0.753);
  position: fixed;
  height: fit-content;
  width: fit-content;
  z-index: 1000;
  margin: 20px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.globe-tooltip > p {
  color: white;
  font-size: 10px;
  text-align: center;
}

.globe-tooltip > img {
  width: 50px;
  padding: 5px;
}

.about-container {
  padding-top: 60px;
}

.status-reports-cell img {
  width: 60% !important;
}

/* ANIMATIONS */

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade_move_down {
  0% {
    transform: translateY(-10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .hero-inner {
    margin-left: 0px !important;
  }
}

@media (min-width: 820px) {
  .home-container {
    padding-top: 80px;
    height: 50vh;
  }
}

@media screen and (max-width: 820px) {
  .container-outer {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .cgl-logo {
    margin-left: -30px;
  }

  #canvasContainer {
    width: 100%;
    height: 150%;
    margin-top: -170px;
  }

  .scroll-down {
    bottom: 9%;
  }

  .hero-content {
    width: 100%;
  }

  .btn-container {
    display: none;
  }

  .btn-container.btn-mobile {
    display: flex;
    justify-content: center;
    top: -180px;
    margin-left: 15px;
  }

  .hero-inner {
    text-align: center;
  }

  .container-outer {
    height: 92vh;
  }

  .nav-toggle {
    padding: 10px;
  }

  .service-freight-wrapper {
    flex-direction: column;
  }

  .service-freight-wrapper img {
    width: 85vw !important;
    padding-bottom: 1.2rem;
  }

  .service-freight-wrapper p {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  #canvasContainer {
    margin-top: -90px;
  }

  .btn-container.btn-mobile {
    top: -123px !important;
  }
}

@media screen and (max-width: 540px) {
  #canvasContainer {
    margin-top: -55px !important;
  }
  .btn-container.btn-mobile {
    top: -80px !important;
    transform: scale(0.8);
  }

  .scroll-down {
    bottom: 6%;
  }
}

@media screen and (max-width: 390px) {
  #canvasContainer {
    margin-top: -20px !important;
  }
  .btn-container.btn-mobile {
    top: -60px !important;
    transform: scale(0.8);
  }

  .scroll-down {
    bottom: 4% !important;
  }

  h3 {
    font-size: 1.8rem;
  }

  .hero-content {
    height: 40%;
    margin-top: 20px;
  }

  .hero-content p {
    font-size: 1.2rem;
  }
}

/* carousel */

/* .carousel {
  background: #eee;
  height: 200px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInSlideDown 1s ease-in-out forwards;
  animation-fill-mode: forwards;
}

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background-size: cover;
  border-radius: 5px;
}

.cell-1 {
  background: url("./assets/boat-icon.png") no-repeat center center;
  position: relative;
}

.cell-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cell-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5)),
    url("./assets/CGL-logo.png") no-repeat center center;
}
.cell-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.137)),
    url("./assets/ocean.webp") no-repeat center center;
}
.cell-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5)),
    url("./assets/plane-icon.webp") no-repeat center center;
}
.cell-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5)),
    url("./assets/CGL-logo.png") no-repeat center center;
}
 .carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.flickity-button {
  display: none;
}

.flickity-page-dots {
}

.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

@media (max-width: 768px) {
  .carousel {
    height: 150px;
  }
  .carousel-cell {
    height: 150px;
  }

  .flickity-page-dots .dot {
    height: 3px;
    width: 30px;
  }

  .flickity-prev-next-button {
    display: block;
    width: 20px;
    height: 20px;
  }
} */
