*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.2rem 1.2rem 9.6rem 1.2rem;
}

h1 {
  font-size: clamp(1.8rem, 3vw, 3.6rem);
  padding-left: 1.2rem;
}

h2 {
  font-size: clamp(1.6rem, 2.4vw, 3.2rem);
}

h3 {
  font-size: clamp(1.4rem, 1.8vw, 2.4rem);
}

p,
label,
a,
address {
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
  color: black;
}

.container-body {
  min-height: 70vh;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5)),
    url("/assets/ocean.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 40vw;
  min-height: 300px;
  padding-top: 25vw;
}

@media (min-width: 768px) {
  .home-container {
    padding-top: 80px;
    height: 50vh;
  }
}

.hero-logo {
  max-width: 80vw;
}

/* ERRORS */

.error-captcha {
  opacity: 0;
  visibility: hidden;
  color: red;
  padding-top: 10px;
  transition: all 150ms ease;
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
}

.error-captcha.active {
  opacity: 1;
  visibility: visible;
}

/* titles */
.title-wrapper {
  display: flex;
  align-items: center;
  padding: 2.4rem 0 2.4rem 0;
}

.title-wrapper.sporting-title-wrapper {
  margin-bottom: 3.2rem;
  padding: 2.4rem 0 2.4rem 0;
  background-color: rgb(112, 112, 112);
  justify-content: center;
}

.title-wrapper img {
  width: 90px;
  height: auto;
}

/* footer */

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 2em 0;
}

.success-container {
  height: 70vh;
}

.container-outer {
  display: flex;
  height: 60vh;
  background-color: black;
  position: relative;
}

.hero-content {
  width: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero-wrapper {
  max-height: calc(100vh - 12vh);
  overflow: hidden;
}

.cgl-logo {
  opacity: 0;
  width: 80%;
  object-fit: scale-down;
  min-width: 250px;
  max-width: 450px;
}

.cgl-logo.active {
  animation: fadeInSlideLeft 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.hero-inner {
  width: 80%;
  margin-left: 120px;
}
.hero-content h1 {
  color: white;
}
.hero-content p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

/* Advanced CSS Hero Button */
.cta-btn {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 3.2rem;
  padding: 10px 20px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}

.cta-btn:after,
.cta-btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 0.4s;
}
.cta-btn:after {
  top: 2px;
  left: 2px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.cta-btn:before {
  bottom: 2px;
  right: 2px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.cta-btn:hover:before,
.cta-btn:hover:after {
  width: 97%;
  height: 90%;
}
.cta-btn:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.cta-btn:focus {
  outline: none;
}

.cta-btn.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.cta-btn:active {
  box-shadow: 0px 0px 15px 0px #8fd6ab81;
  transform: scale(1);
}

/* ------------------------------ */

div.globe-container {
  width: 50%;
}

#canvasContainer {
  width: 50%;
}

.hero-slogan {
  font-family: "Roboto";
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;
  color: #fff;
  letter-spacing: 0.75px;
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1200px) {
  .hero-inner {
    margin-left: 0px !important;
  }
}

.home-content-outer {
  background-color: black;
  color: white;
}

.home-content-inner {
  padding-top: 2rem;
}

.truck-element {
  transform: translateX(var(--my-prop));
  transition: transform 200ms linear;
  will-change: transform;
  position: relative;
}

.truck-bg-inner {
  background: url("./assets/side-road-view.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  /* filter: brightness(0.5); */
}

.truck-bg-outer {
  /* background-image: url("./assets/clouds.webp"); */
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.high-beam-light {
  position: absolute;
  top: 48.2%;
  right: -35%;
  width: 43.4%;
  height: 30%;
  background-color: #fffffffa;
  opacity: 0.5;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  clip-path: polygon(0 57%, 100% 12%, 100% 91%, 0 57%);
  box-shadow: 0 0 50px 20px #fff, 0 0 50px 20px #fff;
  filter: brightness(1.8) sepia(0.6) saturate(1.5);
}

#cloudCanvas {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.truck-element > img {
  width: 100%;
}

.wheel1,
.wheel2,
.wheel3,
.wheel4,
.wheel5 {
  position: absolute;
  height: 7%;
  width: 6.3%;
}

.wheel1 {
  bottom: 17.6%;
  left: 18%;
  transform: rotate(63deg);
}

.wheel2 {
  bottom: 21.7%;
  left: 24.3%;
  transform: rotate(20deg);
}

.wheel3 {
  bottom: 14.4%;
  left: 32.8%;
  transform: rotate(97deg);
}
.wheel4 {
  bottom: 14.4%;
  left: 67.8%;
  transform: rotate(97deg);
}
.wheel5 {
  bottom: 14.4%;
  left: 90.1%;
  transform: rotate(97deg);
}

.wheel1-wrapper,
.wheel2-wrapper,
.wheel3-wrapper,
.wheel4-wrapper,
.wheel5-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.wheel1-wrapper > img,
.wheel2-wrapper > img,
.wheel3-wrapper > img,
.wheel4-wrapper > img,
.wheel5-wrapper > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(var(--rotation));
  transition: transform 0.1s linear;
  will-change: transform;
}

.bg {
  background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: translateX(-50%) rotate(45deg);
  animation: fade_move_down 2s ease-in-out infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translateY(-10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}

/* carousel */

/* .carousel {
  background: #eee;
  height: 200px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInSlideDown 1s ease-in-out forwards;
  animation-fill-mode: forwards;
}

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background-size: cover;
  border-radius: 5px;
}

.cell-1 {
  background: url("./assets/boat-icon.png") no-repeat center center;
  position: relative;
}

.cell-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cell-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5)),
    url("./assets/CGL-logo.png") no-repeat center center;
}
.cell-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.137)),
    url("./assets/ocean.webp") no-repeat center center;
}
.cell-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5)),
    url("./assets/plane-icon.webp") no-repeat center center;
}
.cell-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5)),
    url("./assets/CGL-logo.png") no-repeat center center;
}
 .carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.flickity-button {
  display: none;
}

.flickity-page-dots {
}

.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

@media (max-width: 768px) {
  .carousel {
    height: 150px;
  }
  .carousel-cell {
    height: 150px;
  }

  .flickity-page-dots .dot {
    height: 3px;
    width: 30px;
  }

  .flickity-prev-next-button {
    display: block;
    width: 20px;
    height: 20px;
  }
} */
