.service-freight-wrapper {
  display: flex;
  align-items: center;
}
.service-freight-wrapper p {
  padding-left: 20px;
  font-size: 18px;
  font-family: "Roboto";
  font-style: italic;
  line-height: 1.5;
}
.service-freight-wrapper img {
  width: 40vw;
}

.title-wrapper.sporting-title-wrapper p {
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  padding-left: 1rem;
}

.warehouse-wrapper {
  display: flex;
  justify-content: center;
  background-color: grey;
}
.warehouse-wrapper img {
  max-width: 80%;
}

.warehouse-list {
  padding-left: 1.8rem;
  padding-top: 1.2rem;
}

address,
a,
.warehouse-list {
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
}
.sporting-goods-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
}

.sporting-goods-grid img {
  max-width: 400px;
  width: 100%;
}

.air-service-cell img {
  grid-column: 1;
}

.air-service-cell p {
  grid-column: 2;
}

.sporting-goods-grid p {
  margin-top: 4.8rem;
  padding: 1.2rem;
}

.sporting-goods-grid h2 {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}

.sporting-goods-grid div {
  max-height: 400px;
}

.hero-logo {
  max-width: 80vw;
}

.grid-cell img {
  max-width: 30vw;
}

.transportation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  place-items: center;
}

.section2 p {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .container.hockey-container {
    padding-top: 60px;
  }
}
