.footer-logo img {
  width: 200px;
  margin-bottom: 1em;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  background: #333333;
}

.footer-nav ul {
  list-style: none;
  display: flex;
}

.footer-nav li {
  margin-right: 1em;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
}

.legal {
  text-align: center;
  background: #666666;
  padding: 20px 0px;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
