.footer-logo img {
  width: 250px;
  margin-bottom: 1em;
  padding: 2.4rem;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem;
  background: #333333;
  list-style: none;
}

.footer-nav ul {
  list-style: none;
  display: flex;
}

.footer-nav li {
  margin-right: 1em;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid #ccceee;
  transition: all 250ms ease;
}

.footer-nav a:hover {
  color: #ccceee;
}

.legal {
  text-align: center;
  background: #666666;
  padding: 20px 0px;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

@media screen and (max-width: 768px) {
  .footer-nav {
    flex-direction: column;
    gap: 0.4rem;
  }
}
