.footer-logo img {
  width: 250px;
  margin-bottom: 1em;
  padding: 2.4rem;
}

.footer-nav-container {
  display: flex;
  align-items: flex-end;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 2.4rem;
  background: #333333;
  list-style: none;
}

.footer-nav ul {
  list-style: none;
  display: flex;
}

.footer-nav li {
  margin-right: 1em;
  margin-top: 0.4rem;
}

.footer-nav a {
  color: #ffffff;
  transition: all 250ms ease;
  font-size: clamp(12px, 1vw, 14px);
  border-bottom: 2px solid #ccceee00;
}

.footer-nav a:hover {
  color: #ccceee;
  border-bottom: 2px solid #ccceee;
}

.legal {
  text-align: center;
  background: #8a8a8a;
  padding: 20px 0px;
  font-style: italic;
}

/* .legal > p {
  color: black;
} */
.logo-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

@media screen and (max-width: 822px) {
  .footer-nav {
    flex-direction: column;
    gap: 0.4rem;
  }

  .footer-nav > li {
    text-decoration: underline;
  }

  .divider {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .footer-nav {
    padding: 0 2.4rem 2.4rem 0;
  }
}
