<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/views/global-components/nav.css" />

    <title>Document</title>
  </head>
  <body>
    <div id="navigation"></div>
    <div class="container">
      <h1>Contact QC</h1>
      <div class="form-container">
        <form class="form" id="demo-forn" method="">
          <label for="name" class="form-label">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            class="name-input"
          /><br /><br />
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            class="email-input"
          /><br />
          <div
            class="g-recaptcha"
            data-sitekey="6LdGhAokAAAAANFdqnRx05SiwfKA8fd6CCc9gmHX"
          ></div>
          <br />
          <button class="submit">Submit</button>
          <div class="error-captcha">&nbsp;</div>
        </form>
      </div>
    </div>

    <script src="https://www.google.com/recaptcha/api.js" async></script>
    <script type="module" src="app.js"></script>
  </body>
</html>
